<div class="absentee_voting">
<h2>Absentee Voting <h2>
  <h4><%= link_to "People Living Abroad", "http://www.fvap.gov/" %></h4>
  <h4><%= link_to "Military Voters", "http://www.fvap.gov/military-voter" %></h4>
  <h4><%= link_to "Other Absentee Voting", @statewebsite.url %></h4>
</div>  