<div class="absentee_voting">
<h2>Absentee Voting <h2>
  <ul>
    <li><%= link_to "People Living Abroad", "http://www.fvap.gov/" %></li>
    <li><%= link_to "Miliary Voters", "http://www.fvap.gov/military-voter" %></li>
    <li><%= link_to "Other Absentee Voting", @statewebsite.url %></li>
  </ul>
</div>  