<div>
  <h2><%= link_to "#{StateWebsite.find_by(name: @zipcode.state_name).name} Secretary of State", StateWebsite.find_by(name: @zipcode.state_name).url %></h2>
  <h6>(Department responsible for the board of elections in each state)</h6>
</div>

