<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP_KEY']%>&"></script></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP_KEY']%>&callback=initMap"
        async defer></script>

<script type="text/javascript">
  var polling_info = $.ajax({
    url: '/users/get_polling_info',
    method: 'get'
  })
  polling_info.done(function(response){
    var response = response.split('&quot;');
    var polling_place_address = (response[7] + " " + response[11] + ", " + response[15] + " " + response[19])
    console.log(lat_long(polling_place_address).longitude);
  });

lat_long = function(address){
  var geocoder = new google.maps.Geocoder();
  var latitude;
  var longitude;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      latitude = results[0].geometry.location.lat();
      longitude = results[0].geometry.location.lng();
    }
    var lat_long = {lat: latitude, lng: longitude};
    initMap(lat_long);
    return lat_long;
  });
};


function initMap(latLong) {

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: latLong
  });
  var marker = new google.maps.Marker({
      position: latLong,
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      title: 'My polling place'
  });

  map.addListener('click', function() {
    map.setZoom(8);
    map.setCenter(newmarker.getPosition());
  });
}

$('div').on("click", function(){
  newmarker.setMap(map);
})
 var onMapMouseleaveHandler = function (event) {
    var that = $(this);

    that.on('click', onMapClickHandler);
    that.off('mouseleave', onMapMouseleaveHandler);
    that.find('iframe').css("pointer-events", "none");
  }
  var onMapClickHandler = function (event) {
    var that = $(this);
    that.off('click', onMapClickHandler);
    that.on('mouseleave', onMapMouseleaveHandler);
  }

  $('.maps.embed-container').on('click', onMapClickHandler);
</script>


<div class="hide-for-small-only" id="map"></div>
