<footer>

<div class='social_media'>
    <div class="fb-like" data-href="http://i-voted.herokuapp.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <div class='twitter'>
  <%=render "pages/twitter"%>
</div >
</div>


  <div class="footer">
    <%= link_to image_tag('tinylogocirc.png'), about_path %>
  </div>
</footer>
