<div>
    <h3>IVoted</h3>
    <p>This is the final project at Dev Bootcamp for <a href='https://github.com/josueaceves'> Josue Aceves </a>,  <a href="https://github.com/LucyBoone">Lucy Boone</a>, <a href="https://github.com/KyleDolezal">Kyle Dolezal, and <a href="https://github.com/CorainChicago">Cora Hays-Magan</a> as a labor of civic pride and Rails passion.  The mobile-first app helps users find information on registering to vote, polling location, candidates, and upcoming elections.  Voting is an important part of life and we feel accessing information about it should come easily to everyone. </p>
    <p>Vote Often!</p>
  </div>



