<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">I-Voted</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </nav>
</div>

  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" >
    <li><a href='#'>A much much longer string to test</a></li>
    <li><a href='#'>A much much longer string to test</a></li>
    <li><a href='#'>An even longer much much longer string to test</a></li>
    <li><a href='#'>Such a much much longer string to test</a></li>
    <li><a href='#'>This is a String to Test</a></li>
    <li><a href='#'>This is yet another is a String to Test</a></li>
  </ul>
