<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">IVoted</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-form"><a href="/" class="button">Home</a></li>
      <li class="divider"></li>
      <% if logged_in? %>
        <li class="has-form"><a href="sessions/logout" class="button">Logout</a></li>
      <% else %>
        <li class="has-form"><a href="users/new" class="button">Register</a></li>
        <li class="divider"></li>
        <li class="has-form"><a href="sessions/login" class="button" id="login">Login</a></li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </section>
  </nav>
</div>


<div class="image-carousel">
  <div class="image-carousel-slide">
    <div class="image-carousel-media">
  <%= image_tag("vintage-buttons.jpeg") %>
    </div>
  </div>

  <div class="image-carousel-slide">
    <div class="image-carousel-media">
  <%= image_tag("flagsmlr.jpg") %>
    </div>
  </div>

</div>

  <div class="zipcode-form">
    <%= render "zipcodes/form" %>
  </div>

  <ul class="resource-link-block-grid small-block-grid-1 medium-block-grid-2 large-block-grid-3" >

    <li><a href='#'>A much much longer string to test</a></li>
    <li><a href='#'>A much much longer string to test</a></li>
    <li><a href='#'>An even longer much much longer string to test</a></li>
    <li><a href='#'>Such a much much longer string to test</a></li>
    <li><a href='#'>This is a String to Test</a></li>
    <li><a href='#'>This is yet another is a String to Test</a></li>
  </ul>
