<div class="about-page">
  <h3>IVoted</h3>
  <br><br>
  <p>This is the final project at Dev Bootcamp Chicago for <a href='https://github.com/josueaceves'> Josue Aceves </a>,  <a href="https://github.com/LucyBoone">Lucy Boone</a>, <a href="https://github.com/KyleDolezal">Kyle Dolezal, and <a href="https://github.com/CorainChicago">Cora Hays-Magan</a> as a labor of civic pride and Rails passion. The mobile-first app helps users find information on registering to vote, polling location, candidates, and upcoming elections. Voting is an important part of life and we feel accessing information about it should come easily to everyone. </p>
  <p>Vote Early, Vote Often!</p>
  <br>
  <em><p>Privacy Policy: We will never sell, trade, or distribute personal data provided to IVoted.</p></em><br>
  <p><small>Special thanks to: <a href="http://www.rockthevote.com/">Rock the Vote</a>, <a href="https://www.usvotefoundation.org">U.S. Vote Foundation</a>, <a href=
    "http://www.vote411.org/">League of Women Voters & Vote411.org</a>, and <a href="http://votesmart.org/"> Votesmart</a>.</p>
  <small>Election Icons graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></small>
</div>
