<h1>hello <%=@user.email%></h1>

<p>
  "votes are commig up please visit out <a href="https://i-voted.herokuapp.com/">website</a> to see a local polling place"
</p>



    <div style="width: 400px; height:400px;">
      <img src="https://i-voted.herokuapp.com/assets/flagsmlr-222dbeef27671bfb01795e8d16f02b3b92afe6952406c670f640b3a2bbbb6dbe.jpg">
    </div>