  <h1>Hello <%=@user.email%></h1>

<p>
  Thank you for signing up with <a href="https://i-voted.herokuapp.com/">I-Voted</a>.
<p>



    <div style="width: 400px; height:400px;">
      <img src="https://i-voted.herokuapp.com/assets/flagsmlr-222dbeef27671bfb01795e8d16f02b3b92afe6952406c670f640b3a2bbbb6dbe.jpg">

    </div>

    </div>



    <a href="http://localhost:3000/users/<%=@user.id%>/unsubscribe/<%=@user.token%>">Unsubcribe</a>

