footer{
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-right: 5%;
  padding-left: 5%;
  border-top: 10px double grey;
}

.footer {
  text-align: center;
}

.twitter-share-button{
  margin-left: 9%;
}
