.logo-wrapper {
       position: relative;
   }

   .logo-wrapper .logo {
       width: 80px;
       height: 80px;


       position: absolute;
       left: 50%;
       right: 50%;
       top: 5px;
       margin-left: -46px;
       z-index: 2;
   }
