.logo-wrapper {
       position: relative;
   }

   .logo-wrapper .logo {
       width: 70px;
       height: 80px;


       position: absolute;
       left: 50%;
       right: 50%;
       top: 5px;
       margin-left: -70px;
       z-index: 2;
   }
