.voting-info {
  color: #F5F5F5;
}
  .resource-link-block-grid {
    list-style-type: none;
    }
    .general-voting-info h3 {
      color: #F5F5F5;
    }
        p {
          color: #F5F5F5;
        }
