.voting-info {
  color: #F5F5F5;
}
  .resource-link-block-grid {
    list-style-type: none;
    }
    .general-voting-info h3 {
      color: #F5F5F5;
    }
        p {
          color: #F5F5F5;
        }
#zip{
  width: 10.0em;
} 

div.zipcode-form{
  margin-right: auto;
  margin-left: 40%;
}

div.zipcode-form > div > form > input[type="submit"]:nth-child(3) {
  width: 11.5em;
  height: 3.0em;
  margin-bottom: 15%;
}