// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.grid-block.new-user-form > div {
  margin: auto;
}
      div.grid-block.new-user-form > div > h1 {
    color: #F5F5F5;
  }
  .new_user {
    border-style: none;
    padding-bottom: 10%;
  }

  div.grid-block form{
    padding-bottom: 10%;
    margin-bottom: 10%;
  }

#new_user > input[type="submit"]:nth-child(17){
  padding: 6px 12px 6px;
}
