h2#link-header{
  padding-bottom: 5%;
  margin-right: 0 auto;
  margin-left:  0 auto;
}

.resource-link-block-grid li{
    list-style-type: none;
  }
    @media only screen and (max-width: 40.063em){
      div.grid-block.voting-info > div > ul {
        margin-left: 0;
        margin-right: -99%;
      }
    }


#general-title {
  text-decoration: underline;
}

#general-subtitle {
  text-decoration: none;
}

.general-voting-info div {
  height: 12.0em;
  width: auto;
  margin: 0% 15% 5% 15%;
  padding: 2%;
  overflow: auto;
}
    .link-container {
      background-color: #5d5d5d;
      border-radius: 1%;
    }

#link-header {
  clear: both;
  color: #F5F5F5;
}
@media only screen and (max-width: 40.063em){
  #link-header {
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
}
