.resource-link-block-grid li{
    list-style-type: none;
  }
    @media only screen and (max-width: 40.063em){
      div.grid-block.voting-info > div > ul {
        margin-left: 0;
        margin-right: -99%;
      }
    }

.general-voting-info div{
  margin: 0% 15% 5% 15%;
  padding: 2%;
}

#link-header {
  clear: both;
  color: #F5F5F5;
}
@media only screen and (max-width: 40.063em){
  #link-header {
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
}
