.zipcode_show{
    text-align: center;
    width: 55%;
    border: 2px ridge grey;
    margin: 10% 20% 5% 20%;
    padding: 5% 8% 5% 8%; 
}

.zipcode_show a:hover{
    background-color: grey;    
}

.zipcode_show a:hover {
  background-color: grey;
}

.absentee_voting li{
  list-style: none;
  padding-top: 5%;
}
