.zipcode_show{
    text-align: center;
    width: 55%;
    border: 0.5em double grey;
    margin: 10% 20% 5% 20%;
    padding: 5% 8% 5% 8%; 
}

.zipcode_show a:hover{
    background-color: grey;    
}

.zipcode_show a:hover {
  background-color: grey;
}
.absentee_voting h2{
  padding-top: 2%;
}

.absentee_voting h4{
  padding-top: 3%;
  a:hover{
    background-color: grey;
  }
}

.zipcode_show 
