.zipcode_show{
    text-align: center;
    width: 40%;
    border: 2px ridge grey;
    margin: 10% 30% 5% 30%;
    padding: 5% 8% 5% 8%; 
}
.zipcode_show h3{
    font-size: 4.0em;
}
.zipcode_show li{
    font-size: 1.6em;    
}

.zipcode_show h2{
    font-size: 2.3em;    
}

.zipcode_show a:hover{
    background-color: grey;    
}

.zipcode_show a:hover {
  background-color: grey;
}

.absentee_voting h2{
  font-size: 2.2em;
}

.absentee_voting li{
  list-style: none;
  font-size: 1.5em;
  padding-top: 5%;
}
